<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

<%-partial('../partials/navbar')%>

<%=blocks.title%>
<%=blocks.title%>

<%-body -%>

  </body>
</html>
